.center {
  margin: 20px auto;
}

.app-title {
  text-transform: uppercase;
  padding-left: 26px;
  justify-content: center;
}

.width30 {
  width: 30%;
}

.width75 {
  width: 75%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.paddingBottom {
  padding-bottom: 15px;
}

.quebrar-linha {
  white-space: pre-line;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
