<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input
      matInput
      type="number"
      [min]="minimo"
      [max]="maximo"
      [step]="step"
      [placeholder]="title"
      [name]="controlName"
      [formControlName]="controlName"
    />
    <mat-error
      *ngIf="checkInputService.hasErrorValidar(formControl, 'required')"
      >Campo Obrigatório</mat-error
    >
    <mat-error *ngIf="checkInputService.hasErrorValidar(formControl, 'min')">
      Campo precisa do minimo valor
      {{ checkInputService.lengthValidar(formControl, "min") }}
    </mat-error>
    <mat-error *ngIf="checkInputService.hasErrorValidar(formControl, 'max')">
      Campo pode ter no maximo valor
      {{ checkInputService.lengthValidar(formControl, "max") }}
    </mat-error>
  </mat-form-field>
</div>
