<mat-card>
  <mat-card-header>
    <mat-card-title>
      Detalhes do Log
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
        <mat-list-item>ID: {{ details.id }}</mat-list-item>
        <mat-list-item>Tipo: {{ details.action }}</mat-list-item>
        <mat-list-item>Data do log: {{ dateToShow }}</mat-list-item>
        <mat-list-item>Payload: {{ details.payload }}</mat-list-item>
      </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      [mat-dialog-close]="true"
    >
      Fechar
    </button>
  </mat-card-actions>
</mat-card>
