<mat-card>
  <mat-card-header>
    <mat-card-title>
      Detalhes do Usuário
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
        <mat-list-item>Nome: {{ details.name }}</mat-list-item>
        <mat-list-item>Idade: {{ details.age }}</mat-list-item>
        <mat-list-item>E-mail: {{ details.email }}</mat-list-item>
        <mat-list-item>Data de Nascimento: {{ dateToShow }}</mat-list-item>
      </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      [mat-dialog-close]="true"
    >
      Fechar
    </button>
  </mat-card-actions>
</mat-card>
